footer {
    background-color: var(--nav-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }

  /* scroll to top arrow */

  .scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }