/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
    nav {
      padding: 1.5rem 1rem;
    }
    nav ul {
      position: fixed;
      background-color: var(--bg-color);
      flex-direction: column;
      top: 104px;
      right: 0;
      width: 93%;
      text-align: center;
      transform: translateX(120%);
      transition: transform 0.5s ease-in;
    }
  
    nav ul li {
      margin: 3px;
    }
  
    .burger-menu {
      display: block;
    }
  
    nav ul.show {
      transform: translateX(0);
    }
  
    .content1 {
      margin-top: -4rem;
      flex-direction: column;
      gap: 0;
    }
  
    .content1 img {
     
      height: 37.5rem;
      width: 30rem;
    }
  
    .bio {
        margin-top: 5rem;
      width: 20.5rem;
    }
  
    .more-about {
      margin-top: 2rem;
      padding: 1rem 3.5rem;
    }
  
    .more-about h2 {
      text-align: center;
    }
  
    .more-about p {
      text-align: justify;
    }
  
    .icon {
      width: 5.875rem;
      height: 5.25rem;
    }

    .socials {
      display: flex;
      flex-direction: column;
      position: fixed;
      left: 1%;
      bottom: 40%;
    }

    .button {
      display: block;
      width: 190px;
      height: 30px;
      background: var(--bg-color);
      padding: 3px;
      margin-top: 5px;
      margin-left: 55px;
      text-align: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      line-height: 25px;
    
     
    }
    .projects-title {
      text-align: center;
      margin-bottom: 1rem;
    }
    

    .projects-container {
      flex-direction: column;
    }
  
    .project-container {
      width: 20.875rem;
    }
    
    
  }
  
  @media screen and (max-width: 420px) {
    .content1 img {
        margin-top: 10rem;
      height: 30.5rem;
      width: 23rem;
    }
  
    .bio {
      width: 18.3rem;
    }

    .button {
      display: block;
      width: 190px;
      height: 30px;
      background: var(--container-color);
      padding: 3px;
      margin-top: 5px;
      margin-left: 55px;
      text-align: center;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      line-height: 25px;
    
     
    }
 
    
  
    .projects-title {
      text-align: center;
      margin-bottom: 1rem;
    }
    

    .projects-container {
      flex-direction: column;
    }
  
    .project-container {
      width: 20.875rem;
    }
  
  }